.nav_bar {
    //navigation bar
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, black 25%, transparent);

    &__menu-icon {
        display: none;

        @media (max-width:900px) {
            display: block;
            align-self: center;
            cursor: pointer;
            background-image: url('../assets/images/menu.svg');
            width: 50px;
            height: 50px;
        }


    }


    .nav_bar-wrapper {
        display: flex;
        height: fit-content;
        flex-direction: row;
        transition: all 1s ease;
        z-index: 900;
        align-items: center;
        justify-content: space-around;
    }

    .logo,
    .menu {
        position: relative;
    }

    .menu {
        justify-content: center;

        @media (max-width:900px) {
            display: none;
            transform: translateX(-100%);
        }
        &_close{
            display: none;
        }

        &.active {
            position: fixed;
            display: flex;
            flex-flow: row;
            justify-content: right;
            top: 0;
            left: 0;
            transform: translateX(0);
            width: 50vw;
            height: 100%;
            z-index: 1000;
            background: linear-gradient(to right,
                    black 75%,
                    transparent);
            animation: show 1s;

            @keyframes show {
                from {
                    transform: translateX(-100%);
                }

                to {
                    transform: translateX(0);
                }

            }
            
        .menu_close {
            font-size: 20px;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
            align-self: flex-start;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 50px;
            z-index: 1001;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            &::before {
                content: 'X';
                font-size: 20px;
                display: inline-block;
            }

            // &::before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     height: 50px;
            //     top: 6%;
            //     left: -95%;
            //     border: 1px solid white;
            //     border-radius: 50px;
            //     width: 50px;
            // }
        }

            ul {
                display: flex;
                flex-flow: column;
                justify-content: center;

                li+li {
                    margin-left: 0;
                    margin-top: 30px;
                }

                li {
                    align-self: center;
                    width: fit-content;
                }
            }
        }


        ul {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-between;

            li {
                //navigation bar items
                position: relative;
                cursor: pointer;
            }

            li+li {
                margin-left: 20px;
            }

            li::after {
                content: '';
                position: absolute;
                bottom: -2px;
                display: block;
                width: 100%;
                background-color: white;
                border: 1px solid white;
                transform: scale(0);
                transform-origin: center center;
                transition: transform 0.5s;
            }

            li:hover::after {
                transform: scale(1);
            }
        }
    }

    &.fixed {
        //navigation bar while scroll
        top: 0;
        height: 80px;
        position: fixed;
        width: 100%;
        transition: all 1s ease;
        animation: nav_bar_fixed 1s ease;
        z-index: 1000;
        background: linear-gradient(to bottom, black 75%, transparent);
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}