@import "./header";
@import "./default";
@import "./preloader"; 
@import "./section"; 
@import "./footer";
@font-face {
    font-family:"Monument Grotesk";
    src: url("../assets/fonts/MonumentGrotesk-Regular.ttf");
}